<ion-app>
  
  
  
<ion-grid>
  <ion-row>
    <ion-col >
      
           <ion-toolbar>
              <ion-button ion-button icon-only menuToggle >
                <ion-icon name="menu"></ion-icon>
              </ion-button>

              <ion-button>
                Events  
              </ion-button>

              <ion-button>
                My Subscriptions
              </ion-button>

              <ion-button>
                  History
                </ion-button>

              <ion-button>
                  About
              </ion-button>

            </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-app>