
<ion-header >
  <ion-toolbar style="background-color: red">
    <ion-title>features</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark" >
    <ion-slides mode = "ios" pager = "true">

      <ion-slide>    
        <p>   
       1
        </p>
      </ion-slide>

      <ion-slide>        
        2
      </ion-slide>

      <ion-slide>        
        3
      </ion-slide>

      <ion-slide>
        
        <h2>Ready to Play?</h2>
        <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
   
    </ion-slides>
  </ion-content>
