
<ion-header>
 <ion-button class="homeicon">
    <ion-icon name="home" size="large"></ion-icon>
 </ion-button>
 <ul>
   <li><a href="#"><b>Events</b></a></li>&nbsp;
   <li><a href="#"><b>Subs</b></a></li>&nbsp;
   <li><a href="#"><b>Sign Out</b></a></li>
 </ul>
</ion-header>

<div class="divclass1">
    <ion-button class="menuclass" fill="clear"><ion-icon name="menu" size="large"></ion-icon></ion-button>
    <ion-searchbar placeholder="Search Event" ></ion-searchbar>
  </div>

<ion-content color = "dark" >
    <ion-slides pager="true">
        <ion-slide class="step-one" style="background-image: url(../assets/img/f1.jpg) " >
            <h1>Welcome!</h1>
            <p>Text</p>
            <div class="buttonHolder">
                <ion-button fill = "clear" shape = "round" (click)="finish()" ><b>Skip</b><ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
        </ion-slide>
    
        <ion-slide class="step-two" style="background-image: url(../assets/img/f2.jpg) ">
            <h1>Feature</h1>
            <p>Text</p>
        </ion-slide>
    
        <ion-slide class="step-three" style="background-image: url(../assets/img/f3.jpg) ">
            <h1>Feature</h1>
            <p>Text</p>
            <div class="buttonHolder">
              <ion-button fill = "clear" shape = "round" (click)="finish()" >FINISH</ion-button>
            </div>
        </ion-slide>

        <ion-slide class="step-four" style="background-image: url(../assets/img/f1.jpg) ">
          <h1>Feature</h1>
          <p>Text</p>
          <div class="buttonHolder">
            <ion-button fill = "clear" shape = "round" (click)="finish()" >FINISH</ion-button>
          </div>
      </ion-slide>

      <ion-slide class="step-five" style="background-image: url(../assets/img/f2.jpg) ">
        <h1>Feature</h1>
        <p>Text</p>
        <div class="buttonHolder">
          <ion-button fill = "clear" shape = "round" (click)="finish()" >FINISH</ion-button>
        </div>
    </ion-slide>
    </ion-slides>

    <filters></filters>



<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let item of items" class="example-item">
      <p id="example-text" class="animated slideInRight">{{item}}</p>
    </div>
  </cdk-virtual-scroll-viewport>

</ion-content>