<ion-content padding class="view">
    <h1 color="primary" style="text-align:center" ><b>Sign Up</b></h1><br><br>
  <ion-grid>
    <ion-row>
      <ion-col offset="1">
          <ion-list>
              <ion-segment>
                    <ion-segment-button checked>
                      <ion-label color="primary"><b>USER</b></ion-label>
                    </ion-segment-button>
                    <ion-segment-button>
                      <ion-label color="primary"><b>ORGANIZER</b></ion-label>
                    </ion-segment-button>
                  </ion-segment>
                  <ion-item>
                      <ion-label position="floating"><b>Email</b></ion-label>
                    <ion-input type="text" required></ion-input>
                  </ion-item>
      
                  <ion-item>
                      <ion-label position="floating"><b>Password</b></ion-label>
                    <ion-input type="password" required></ion-input>
                  </ion-item>
      
                  <ion-item>
                      <ion-label position="floating"><b>Confirm Password</b></ion-label>
                    <ion-input type="password" required></ion-input>
                  </ion-item><br>
                      <ion-button color="primary" full type="submit">Register</ion-button>
           </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  
              
    
    
    