.my-label {
    font-size: 0.9em;
    position: fixed;
  }

  ion-avatar{
    width: 100px;  
    height: 100px; 
    height: 50px !important;
    width: 50px !important;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    }

    .img {
        width: auto !important;
        height: auto !important;
        border-radius: 0 !important;
        overflow: visible !important;
        max-height: 100% !important;
        max-width: none !important;
        }

        ion-title{
            text-align: center;
        }

