<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item color = "dark">
    <ion-grid><ion-row>
        <ion-button color="primary" (click)= "toFeatures()">features </ion-button>
        <ion-button color = "secondary" (click)= "toEvent()">event page</ion-button>
        <ion-button color = "secondary" (click)= "toLogin()">login</ion-button>
      <ion-button color = "secondary" (click)= "toManagePage()">manage-event</ion-button>
      <ion-button color="primary" (click)= "nav('signuppage')">signuppage </ion-button>
      <ion-button color="primary" (click)= "nav('menu')">menu </ion-button>
      <ion-button color="primary" (click)= "nav('blank')">blank </ion-button>
      <ion-button color="primary" (click)= "nav('attendee')">attendee </ion-button>
      <ion-button color="primary" (click)= "nav('eventorg')">eventorg </ion-button>
      <ion-button color="primary" (click)= "nav('manage-event')">manage-event </ion-button>

     
    </ion-row></ion-grid>
    
  <menu></menu>
  </ion-item>
</ion-content>

