<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item color = "dark">
    <ion-button color="primary" (click)= "toFeatures()">features </ion-button>
    <ion-button color = "primary" (click)= "toEvent()">event page</ion-button>
    <ion-button color = "primary" (click)= "toLogin()">login</ion-button>
  <ion-button color = "primary" (click)= "tosignup()">sign up</ion-button><br>
  
  
  </ion-item>
  <ion-item>
      <ion-button color = "primary" (click)= "touserHome()">UserHome</ion-button>
      <ion-button color = "primary" (click)= "toorgHome()">OrgHome</ion-button>
  </ion-item>
</ion-content>

