<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item color = "dark">
    <ion-button color="primary" (click)= "toFeatures()">features </ion-button>
    <ion-button color = "secondary" (click)= "toEvent()">event page</ion-button>
    <ion-button color = "secondary" (click)= "toLogin()">login</ion-button>
  <ion-button color = "secondary" (click)= "toManagePage()">manage-event</ion-button>
  <menu></menu>
  </ion-item>
</ion-content>

