<ion-card button = "true" >
  <ion-grid style="padding:0;" >
    <ion-row>
    <ion-col size="8">
      <ion-row style="border-block-end: thin solid var(--ion-color-secondary); padding-left: 2px;">
        <div>
          <h6 style="margin: 0;">
            <b>
                {{data.title}}
            </b>
          </h6> 
        </div>
      </ion-row>

      <ion-row class="rowText">
        <b>Categories:</b>&nbsp;<div  *ngFor="let str of data.categories">{{str.title}},&nbsp;</div>
      </ion-row>

      
      <ion-row class="rowText" style="color: var(--ion-color-secondary);"> Address:&nbsp;{{(data.address)}}
      </ion-row>
      <ion-row align-self: end>
        <div>{{data.date}}</div>
        <div *ngIf="data.multiple_days===true"> Onwards</div>
      </ion-row>
    </ion-col>

    <ion-col style="padding: 0.1em !important;"  size="4">
        <img class="fixSize" style="border: 2px solid var(--ion-color-primary-tint);" src="{{data.image}}" />
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-card>



