<ion-header >
    <ion-toolbar>
        <ion-buttons slot="start" >
          <ion-back-button color="primary" text="" icon="arrow-back"></ion-back-button>
          <ion-title>{{event.title}}</ion-title>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content style="position:relative; top:2vh; ">
  
  <ion-slides [options]= "sliderConfig">
    <ion-slide *ngFor = "let img of images"  >
      
        <ion-card button = "true" fill = "outline" (click) = "openImage(img)">
          <img class="fixSize" style= "background-color: var(--ion-color-primary); "src="{{img.value}}" />
           
        </ion-card> 
          
    </ion-slide>  
  

    <ion-slide>
        
          <ion-card  button = "true" class="card" style=" background-color: var(--ion-color-dark-tint) ;">
            <ion-card-content class="fixSize add">
              
                  <ion-icon class="icon" name="add-circle"  style=" color: var(--ion-color-primary); font-size: 5vmax"></ion-icon>
                  
              
            </ion-card-content>
           </ion-card>
        
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-content>
      <h4 style="color:var(--ion-color-primary);">Description:</h4>
      <p style="color: var(--ion-color-light);">{{event.description}}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
