<ion-header >
    <ion-toolbar >
        <ion-title> {{event.title}}</ion-title>
        <ion-buttons slot="start" >
          <ion-back-button color="light"  icon="ios-arrow-back"></ion-back-button>
        </ion-buttons>
   
       
      </ion-toolbar>
</ion-header>

<ion-content  style="position:relative; top:2vh; ">
  
  <ion-slides [options]= "sliderConfig">
    <ion-slide *ngFor = "let img of images"  >
      
        <ion-card button = "true"  (click) = "openImage(img)" >
          <img class="fixSize" style="border: 2px solid var(--ion-color-primary-tint);" src="{{img.value}}" />
           
        </ion-card> 
          
    </ion-slide>  
  

    <ion-slide>
        
          <ion-card  button = "true" class="card" >
            <ion-card-content class="fixSize add">
              
                  <ion-icon class="icon" name="add-circle"  style=" color: var(--ion-color-primary); font-size: 5vmax"></ion-icon>
                  
              
            </ion-card-content>
           </ion-card>
        
    </ion-slide>
  </ion-slides>
  
  <div class="padding">
  <ion-card class= "card">
    <ion-card-content>
      <ion-card-title style="color:var(--ion-color-light-shade);">Description:</ion-card-title>
      <p style="color: var(--ion-color-light-tint);">{{event.description}}</p>
    </ion-card-content>
  </ion-card>
</div>
<div class="padding">
    <ion-card class= "card">
      <ion-card-content>
        <ion-card-title style="color:var(--ion-color-primary);">Attractions</ion-card-title>
        <ion-grid>
            <ion-row>
              <div *ngFor=" let attr of event.attractions">
                <ion-chip style= "background-color: var(--ion-color-secondary);">
                  <ion-label color="light">{{attr}}</ion-label>
                </ion-chip>
              </div>
            </ion-row>  
        </ion-grid>       
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
