
<ion-header>
  <ion-button class="homeicon">
     <ion-icon name="home" size="large"></ion-icon>
  </ion-button>
  <ul>
    <li><a href="#"><b>My Events</b></a></li>&nbsp;
  
    <li><a href="#"><b>Sign Out</b></a></li>
  </ul>
 </ion-header>

 <div class="divclass1">
  <ion-button class="menuclass" fill="clear"><ion-icon name="menu" size="large"></ion-icon></ion-button>
  <ion-searchbar placeholder="Search Event" ></ion-searchbar>
</div>

 <ion-content>
   

   <ion-slides pager="true">
      <ion-slide class="step-one" style="background-color: midnightblue" >
          <h1>Welcome!</h1><br>
          <h2>
            Steps to <br>
            Create an Event <br><ion-icon name="arrow-forward" slot="end" size="large"></ion-icon>
          </h2>
          
      </ion-slide>
  
      <ion-slide class="step-two" style="background-color: green">
          <h1>Step 1</h1><br>
          <h2>
            Click on <br>
            Create New Event <br>
            Below <br>
            <ion-icon name="arrow-down" slot="end" size="large"></ion-icon>
          </h2>
      </ion-slide>
  
      <ion-slide class="step-three" style="background-color: red">
          <h1>Step 2</h1><br>
          <h2>Enter the details<br> 
            about the Event
          </h2>
          
      </ion-slide>

      <ion-slide class="step-four" style="background-color: black">
        <h1>Step 3</h1><br>
        <h2>Click on <br>
          Submit 
        </h2>
        
    </ion-slide>

    <ion-slide class="step-five" style="background-color: hotpink">
      <h1>Finish</h1>
      <h2></h2>
      
  </ion-slide>
  </ion-slides>


  <ion-button class="neweventbtn" color="tertiary" expand="block" shape="round" ><b>Create new Event</b></ion-button>


 </ion-content>