
<ion-header>
  <ion-button class="homeicon">
     <ion-icon name="home" size="large"></ion-icon>
  </ion-button>
  <ul>
    <li><a href="#"><b>My Events</b></a></li>&nbsp;
  
    <li><a href="#"><b>Sign Out</b></a></li>
  </ul>
 </ion-header>

 <div class="divclass1">
  <ion-button class="menuclass" fill="clear"><ion-icon name="menu" size="large"></ion-icon></ion-button>
  <ion-searchbar placeholder="Search Event" ></ion-searchbar>
</div>

 <ion-content>
   <ion-button class="neweventbtn" color="tertiary" expand="block"><b>Create new Event</b></ion-button>

 </ion-content>